/*Egész oldra való beállítások jel:H*/
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,400;1,100;1,200;1,600&family=Comfortaa:wght@300;400;500;600;700&family=Mukta:wght@300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Comfortaa', cursive;
    font-family: 'Mukta', sans-serif;
}
html,body{
    height: 100%;
    overflow-y: hidden;
    background-color:#c5b9a9;
}
/*H*/
.container{
    height: 100%;
    width: 90%;
    display: flex;
    flex-flow: column;
    background-color: #ececec;
    overflow-y: auto;
    box-shadow: 5px 5px 100px 50px rgba(98, 98, 98, 0.5);
    padding: 10px;
}
/*HEADER beállítása jel:N*/
#nav-color{
    background-color: #fe7b47 !important;
    color:white !important;
}
.navbar .navbar-nav .nav-link{
    color:white;
    transition:color 0.6s ease-in-out;
}
.navbar .navbar-nav .nav-link:hover {
    color: black;
}
.navbar .navbar-brand {
    color: white;
    transition:  color 0.6s ease-out;
}
.navbar .navbar-brand:hover {
    color: black;
}
header{
    top:0;
}
main{
    flex: 1;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    color: white;
}

.social-icons img {
    height: 30px;
    width: 30px;
}
.social-icons a:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    transform: scale(1.6);
    transition: transform 0.6s ease;
  }
  /*N*/
  /*Footer bállításai*/
  .copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
  }
  .copyright:hover{
    color: #F57514;
  }
  /*F*/
  /*Main beállításai*/
  .resume_cv{
    text-align: center;
    padding: 20px;
  }

.resume-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resume-image {
    max-width: 200px;
    height: auto;
    float: left;
    margin-right: 20px;
    box-shadow:6px 6px 6px 6px rgba(0, 0, 0, .5);
    transition:transform 0.6s ease;
}
.resume-image:hover {
    transform: scale(1.2);
}

.resume-details {
    flex: 1;
}
.bookmarks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}

.bookmark-link {
    margin: 0 10px;
    text-decoration: none;
    color:#f64600;
    font-weight: bold;
}

.bookmark-link:hover {
    color: #2A324B;
    background-color: gainsboro;
    transform: scale(1.1);
    transition: color 0.6s ease, transform 0.6s ease;
}

hr{
    border: 4px solid black;
}
.email-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.email-link {
    display: inline-block;
    align-items: center;
    background-color: #fe7b47;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color 0.6s ease; 
}

.email-link:hover {
    background-color: #f25314;
}
.resume_download_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.resume_download{
    display: inline-block;
    align-items: center;
    background-color: #fe7b47;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    text-decoration: none;
    transition: background-color 0.6s ease; 
}
.resume_download:hover{
    background-color: #f25314;
}
#personal-info, #skills, #education, #languages {
    text-align: center;
}
#personal-info{
    padding-top: 20px;
}
/*M*/
.timetable{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 20px;
    color: white;
}
.time-column{
    flex:0 0 10%;
    font-weight: bold;
    background-color: rgb(126, 120, 120);
}
.schedule {
    flex-grow: 1;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(/img/schedule_wp.jpeg);
    overflow-x: auto;    
}
.schedule th,
.schedule td {
    padding: 35px;
    max-width: 15px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    text-align: center;
}
.schedule th {
    background-color: #fe7b47;
}
.summary_gy{
    background-color:#fe7b47;
    transition: all 1s ease-in;
    border-radius: 10px;

}
summary{
    background-color: rgb(126, 120, 120);
    transition: all 1s linear;
    border-radius: 10px;
}
summary:hover{
    transform: scale(1.1);
    background-color: rgba(118, 118, 118, .5);
}
.credit-summary {
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-top: 20px;
}
#total-credits{
    color: #000000;
    transition: color 0.6s linear;
}
#total-credits:hover{
    color:#f25314;
}
@media screen and (max-width: 768px) {
    .timetable {
        flex-flow: column nowrap;
        align-items: center;
    }

    .schedule th,
    .schedule td {
        padding: 15px;
        max-width: none;
    }

    .time-column {
        flex: 1;
        background-color: rgb(126, 120, 120);
        text-align: center;
    }
}